/* adapted from redux-form examples */

.form {
  font-size: 16px;
}

.form > div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 10px 5px;
}

.form > div > label {
  font-weight: 700;
  margin-right: 10px;
  min-width: 150px;
  text-align: right;
  padding: 6px 9px;
}

.form > div > div {
  flex: 1;
  max-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column;
  position: relative;
}

.form > div > div > * {
  flex: 1;
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc;
}

.form button, input, select, textarea {
  outline: none;
}

.form > div button[type=submit][disabled] {
  opacity: .6;
  cursor: not-allowed;
}

.form > div button[type=submit] {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#4f93ce,#285f8f);
  border: 1px solid #285f8f;
}

.form > div button {
    margin: 10px;
}

.form > div > div >span {
  border: none;
  font-weight: 700;
  color: #700;
}
